<app-navbar></app-navbar>
    <div class="container">
      <div class="top">
        <img src="assets/Banner.png" alt="Minha Imagem" width="100%" heigth="30px">
       
      <h2>Lista de Produtos</h2>

      <h2>Produtos</h2>
    <div class="product" *ngFor="let produto of produtos">
      <img [src]="'assets/' + produto.imagem" alt="{{ produto.nome }}" width="100" height="100">
      <p>{{ produto.nome }} - R$ {{ produto.preco }}</p>
      <p>{{ produto.descricao }}</p>
      <button (click)="adicionarAoCarrinho(produto)">Adicionar ao Carrinho</button>
    </div>
  </div>
</div>
<app-footer></app-footer>


